<nav class="navbar navbar-expand-lg">

  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../img/logo.png" alt="" />
    </a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">POČETNA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="o-nama.html">O NAMA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="proizvodi.html">PROIZVODI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="galerija.html">GALERIJA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reference.html">REFERENCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="kontakt.html">KONTAKT</a>
        </li>

      </ul>

      <ul class="navbar-nav ml-auto">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Jezik
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
              <img src="https://www.countryflags.io/gb/flat/16.png" alt="">
              English
            </a>
            <a class="dropdown-item" href="#">
              <img src="https://www.countryflags.io/ru/flat/16.png" alt="">
              Ру́сский
            </a>
          </div>
        </div>
      </ul>

      
      
    </div>

  </div>

  
</nav>