<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h5>О КОМПАНИИ</h5>
      <p>НСД-Eлектроник ООО является компания, основанная в 2006 году как преемник компании СЗР НСД-Eлектроник, которая была основана в 1993 году</p>
      <br>
      <p>Компания занимается, процессов и автоматизации машин, производство, инжиниринг, консалтинг и услуги в промышленности. Предоставьте пользователям проектных решений, технической поддержки, обучения и решения "под ключ".</p>
    </div>
    <div class="col-md-4 links">
      <h5>СТРАНИЦЫ</h5>
      <ul>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="index.html">Главная</a>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="o-nama.html">О Компании</a>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="proizvodi.html">Продукты</a>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="galerija.html">Галерея</a>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="reference.html">Ссылки</a>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="kontakt.html">Контакте</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 contact">
      <h5>КОНТАКТЕ</h5>
      <p>
        <i class="fas fa-envelope"></i>
        <a href="mailto:nsdelectronic@gmail.com">nsdelectronic@gmail.com</a>
      </p>
      <p>
        <i class="fas fa-envelope"></i>
        <a href="mailto:office@nsdelektronik.rs">office@nsdelektronik.rs</a>
      </p>
      <p>
        <i class="fas fa-phone"></i>
        <a href="tel:+381 11 4076 240">+381 11 4076 240</a>
      </p>
      <p>
        <i class="fas fa-phone"></i>
        <a href="tel:+381 11 4077 158">+381 11 4077 158</a>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-4">
      <p>
        Авторские права © 2020. НСД-електроник
      </p>
    </div>
  </div>
</div>