<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h5>ABOUT</h5>
      <p>NSD-electronic Ltd. was founded in 2006, as the successor of the company SZR NSD-elektronik, founded in 1993 in the first place.</p>
      <br>
      <p>The company is engaged in process and machine automation, production, engineering, consulting and industrial services. We provide our customers with technical support, training, conceptual and "turnkey" solutions.</p>
    </div>
    <div class="col-md-4 links">
      <h5>PAGES</h5>
      <ul>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="index.html">Home</a>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="o-nama.html">About</a>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="proizvodi.html">Products</a>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="galerija.html">Gallery</a>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="reference.html">References</a>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="kontakt.html">Contact</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 contact">
      <h5>CONTACT</h5>
      <p>
        <i class="fas fa-envelope"></i>
        <a href="mailto:nsdelectronic@gmail.com">nsdelectronic@gmail.com</a>
      </p>
      <p>
        <i class="fas fa-envelope"></i>
        <a href="mailto:office@nsdelektronik.rs">office@nsdelektronik.rs</a>
      </p>
      <p>
        <i class="fas fa-phone"></i>
        <a href="tel:+381 11 4076 240">+381 11 4076 240</a>
      </p>
      <p>
        <i class="fas fa-phone"></i>
        <a href="tel:+381 11 4077 158">+381 11 4077 158</a>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-4">
      <p>
        Copyright © 2020. NSD-electronic
      </p>
    </div>
  </div>
</div>