<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h5>O NAMA</h5>
      <p>NSD-elektronik je preduzeće osnovano 2006. godine, kao naslednik firme SZR NSD-elektronik, koje je osnovano 1993. godine. </p>
      <br>
      <p>Preduzeće se bavi automatizacijom  procesa i mašina, proizvodnjom, inženjeringom, konsaltingom i uslugama u industriji. Svojim korisnicima obezbeđujemo idejna rešenja, tehničku podršku, obuku i rešenja “ključ u ruke”.</p>
    </div>
    <div class="col-md-4 links">
      <h5>STRANICE</h5>
      <ul>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="index.html">Početna</a>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="o-nama.html">O Nama</a>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="proizvodi.html">Proizvodi</a>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="galerija.html">Galerija</a>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="reference.html">Reference</a>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <a href="kontakt.html">Kontakt</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 contact">
      <h5>KONTAKT</h5>
      <p>
        <i class="fas fa-envelope"></i>
        <a href="mailto:nsdelectronic@gmail.com">nsdelectronic@gmail.com</a>
      </p>
      <p>
        <i class="fas fa-envelope"></i>
        <a href="mailto:office@nsdelektronik.rs">office@nsdelektronik.rs</a>
      </p>
      <p>
        <i class="fas fa-phone"></i>
        <a href="tel:+381 11 4076 240">+381 11 4076 240</a>
      </p>
      <p>
        <i class="fas fa-phone"></i>
        <a href="tel:+381 11 4077 158">+381 11 4077 158</a>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-4">
      <p>
        Copyright © 2020. NSD-elektronik
      </p>
    </div>
  </div>
</div>